@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-input {
    display: flex;
}

.title {
    margin:20px 0 20px 0;
}

h3 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.title h4 {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 20px;
}

img {
    margin: 30px;
    width: 450px;
}

input[type='number'] {
    width: 60px;
    height: 30px;
    border: 1px solid;
    border-radius: 2px;
    margin: 0 20px;
    text-align: center;
    font-size: 16px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.display h4{
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
}

.display .formula{
    margin: 10px 0 10px 0;
    padding: 30px;
    font-size: 26px;
}

.display-result {
    display: flex;
    align-items: center;
    font-size: 24px;
}

span {
    text-decoration: underline;
    color: red;
}

.result {
    margin-left: 15px;
    font-size: 20px;
}

.span-result {
    text-decoration: none;
    margin-left: 10px;
    text-decoration: underline;
}

